<app-navbaradmin></app-navbaradmin>

<section class="dash-main">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h3 class="text-left pb-2">Dashboard</h3>
                <div class="row text-left">
                    <div class="col-md-6 pt-4">
                        <h4>{{ totales_envios }}</h4>
                        <p>Número de Envios</p>
                    </div>
                    <div class="col-md-6 pt-4">
                        <h4>$ {{ totalcosto_envio | number : '1.2-2' }}</h4>
                        <p>Monto total de Envios</p>
                    </div>
                    <div class="col-md-6 pt-4">
                        <h4>$ {{ costo_promedio }}</h4>
                        <p>Monto promedio de Envios</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mis-envios">
    <div class="container py-5">
        <header class="text-left">
            <h3 class="pb-3">Últimos envios</h3>
        </header>
        <div class="row pb-5">
          <div class="col-lg-12 mx-auto">
            <div class="card rounded shadow border-0">
              <div class="card-body p-0 bg-white rounded">
                <div class="table-responsive">
                  <table id="example" style="width:100%" class="table table-striped table-bordered mb-0">
                    <thead>
                      <tr>
                        <th>N° Guía</th>
                        <th>Tipo de Envío</th>
                        <th>Destino</th>
                        <th>Monto</th>
                        <th>Estatus</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let envio of envios; let indice = index">
                        <td>{{ envio.folio }}</td>
                        <td>{{ envio.tipoEnvio }}</td>
                        <td>{{ envio.direccion_destino }}</td>
                        <td>$ {{ envio.monto }}</td>
                        <td><!--{{ envio.estatus }}-->
                          <div *ngIf="envio.estatus == 'Recolectado / Recaudado'">
                            Guía Generada
                            <button (click)="generatePDF(envio.folio, envio.tracked, envio.remitente, envio.direccion_origen, envio.destinatario, envio.direccion_destino,envio.telefono_remitente, envio.peso)" class="subscribe btn btn-primary rounded-pill shadow-sm">
                              <i class="fa fa-arrow-down"></i> Guía  
                            </button>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 d-flex justify-content-end">
            <p><a href="/user/mis-envios">Ver Todos los envios  ></a></p>
          </div>
          <div class="col-lg-12 d-flex justify-content-end">
            <p><a href="/rastreo" target="_blank">Rastrear envio  ></a></p>
          </div>
        </div>
    </div>
</section>

<app-footer></app-footer>