<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <img src="/assets/img/logo_n.png" style="width: 150px;" class="img-fluid pb-3" alt="logo local post">
                <p class="text-justify">Somos una agencia de servicios integrales de logística. Nos encargamos de tus envíos de principio a fin sin importar el tamaño o el lugar de la Republica, por medio de diferentes soluciones
                </p>
                <div class="col-12 contact">
                    <ul class="list-inline list-social">
                        <li class="list-inline-item social-linkedin" data-aos="zoom-in">
                          <a href="https://www.linkedin.com/company/local-post-m%C3%A9xico/" target="_blank">
                            <i class="fa fa-linkedin"></i>
                          </a>
                        </li>
                        <li class="list-inline-item social-facebook" data-aos="zoom-in">
                          <a href="https://www.facebook.com/localpostmx" target="_blank">
                            <i class="fa fa-facebook-f"></i>
                          </a>
                        </li>
                        <li class="list-inline-item social-instagram" data-aos="zoom-in">
                          <a href="https://www.instagram.com/localpostmx/" target="_blank">
                            <!--<i class="fab fa-google-plus-g"></i>-->
                            <i class="fa fa-instagram"></i>
                          </a>
                        </li>
                      </ul>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="row">
                    <div class="col-6">
                        <ul class="nav flex-column menu-footer">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Nosotros</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Servicios</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Cotizar</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul class="nav flex-column menu-footer">
                            <li class="nav-item">
                                <a class="nav-link" href="/faq" target="_blank">FAQ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/terminos-y-condiciones" target="_blank">Terminos y Condiciones</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/aviso-de-privacidad" target="_blank">Aviso de Privacidad</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://www.admin.localpost.com.mx/" target="_blank">Intranet</a>
                            </li>
                        </ul>
                    </div>
                    
                </div>
                
            </div>
        </div>
    </div>
</footer>
