<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light static-top justify-content-center menu2" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/assets/img/logo_n.png" alt="Local Post Logo" class="d-inline-block align-middle mr-2 logo-image">
        </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between align-items-center w-100" id="navbarResponsive">
      <ul class="navbar-nav mx-auto text-center">
        <li class="nav-item active">
            <a class="nav-link" href="/">Inicio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#quienes-somos">Nosotros</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#servicios">Servicios</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#testimoniales">Testimoniales</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/rastreo">Rastreo</a>
        </li>
      </ul>
        <ul class="nav navbar-nav flex-row justify-content-center flex-nowrap">
            <a href="/user/login" class="top-button">Acceder <i class="fa fa-chevron-right"></i></a>
        </ul>
    </div>
    </div>
  </nav>
