<div class="min-vh-100 d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block">404</span>
                <div class="mb-4 lead">Opps! La página que buscas no existe.</div>
                <a href="/" class="btn btn-link">Regresar al inicio</a>
            </div>
        </div>
    </div>
</div>