
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark static-top justify-content-center menu1 fixed-top" style="position: absolute;z-index: 10; width: 100%;" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="assets/img/logo.png" alt="Local Post Logo" class="d-inline-block align-middle mr-2 logo-image">
        </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between align-items-center w-100" id="navbarResponsive">
        <ul class="navbar-nav mx-auto text-center">
            <li class="nav-item active">
                <a class="nav-link" href="/">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#quienes-somos">Nosotros</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#servicios">Servicios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#testimoniales">Testimoniales</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/rastreo">Rastreo</a>
            </li>
        </ul>
        <ul class="nav navbar-nav flex-row justify-content-center flex-nowrap">
            <a href="/user/login" class="top-button">Acceder <i class="fa fa-chevron-right"></i></a>
        </ul>
    </div>
    </div>
</nav>

<header class="hero">
    <div class="container h-100 py-5">
      <div class="row h-100 align-items-center py-5 text-white">
        <div class="col-md-6 text-left" data-aos="zoom-out">
          <h2>Think global,<br>deliver local</h2>
          <p class="home-lead pb-5">Servicios integrales de logística</p>
          <!--<a class="main-button" data-toggle="modal" data-target="#modalLoginForm">¡Comienza Ahora!</a>-->
          <a href="/user/register" class="btn main-button">
            ¡Comienza Ahora!
            </a>
        </div>
        <div class="col-md-6 text-center" data-aos="zoom-out" data-aos-delay="300">
          
        </div>
      </div>
    </div>
</header>

<section class="ventajas">
    <div class="container shadow-lg bg-white rounded-lg">
        <div class="row pb-3" id="quienes-somos">
            <div class="col-md-8 offset-md-2 text-center">
                <h1 class="titulo">Somos una agencia de servicios integrales de logística</h1>
                <p class="lead">Conocemos nuestra área mejor que nadie porque comenzamos con entregas en bicicleta, ahora conocemos las calles, zonas y barrios del país.</p>
            </div>
        </div>
        <div class="row px-5">
            <div class="col-md-4 col-xs-12 px-5">
                <img src="/assets/img/icon_04.png" class="img-fluid mb-2 img-feat" alt="">
                <h4 class="text-left">Seguridad</h4>
                <div style="width: 50px; height: 2px; background: #007bff;" class="mr-auto my-3"></div>
                <p>Tenemos monitoreo GPS en tiempo real de nuestras unidades</p>
            </div>
            <div class="col-md-4 col-xs-12 px-5">
                <img src="/assets/img/icon_05.png" class="img-fluid mb-2 img-feat" alt="">
                <h4 class="text-left">Rapidez</h4>
                <div style="width: 50px; height: 2px; background: #007bff;" class="mr-auto my-3"></div>
                <p>En menos de 1 hora tienes la cotización que necesites</p>
            </div>
            <div class="col-md-4 col-xs-12 px-5">
                <img src="/assets/img/icon_06.png" class="img-fluid mb-2 img-feat" alt="">
                <h4 class="text-left">Calidad</h4>
                <div style="width: 50px; height: 2px; background: #007bff;" class="mr-auto my-3"></div>
                <p>Siempre sabrás en que momento tu carga será entregada</p>
            </div>
        </div>
    </div>
</section>

<section class="showcase">
    <div class="container">
        <div class="row" id="servicios" style="padding-bottom: 4em;">
            <div class="col-md-8 offset-md-2 text-center"  data-aos="fade-down">
                <h1 class="titulo">Nos encargamos de tus envíos de principio a fin</h1>
                <div style="width: 90px; height: 4px; background: #007bff;" class="mx-auto my-4"></div>
                <p class="lead">
                    Por medio de <strong>diferentes soluciones</strong>, sin importar el tamaño o lugar de la República.
                  </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="card shadow-lg p-3 mb-5 bg-white rounded-lg">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4 col-sm-12">
                                <img src="/assets/img/icon_draw_02.png" class="img-fluid" alt="">
                            </div>
                            <div class="col-md-8 col-sm-12">
                                <h4 class="text-left">Servicio Local Regular</h4>
                                <div style="width: 90px; height: 2px; background: #007bff;" class="mr-auto my-3"></div>
                                <!--<p>
                                    Por medio de <strong>diferentes soluciones</strong>, sin importar el tamaño o lugar de la República.
                                </p>-->
                                <!--<p>Enviamos paquetes o fletes desde la <strong>CDMX y Área Metropolitana</strong> y los entregamos dentro de la misma CDMX y Área Metropolitana. </p>-->
                                <p>Ofrecemos paquetería y fletes dentro de la <strong>Ciudad de México y área metropolitana</strong> y entregamos en esta misma región, ya sea mismo día o programado</p> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4 col-sm-12">
                                <img src="/assets/img/icon_draw_01.png" class="img-fluid" alt="">
                            </div>
                            <div class="col-md-8 col-sm-12">
                                <h4 class="text-left">Servicio Dedicado</h4>
                                <div style="width: 90px; height: 2px; background: #007bff;" class="mr-auto my-3"></div>
                                <p class="pb-4">Entregamos volumenes grandes a partir de 20kg desde la Cd de México a <strong>Pachuca, Cuernavaca, Puebla, Querétaro, Toluca</strong>.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="col-md-6">
                <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4 col-sm-12">
                                <img src="/assets/img/icon_draw_03.png" class="img-fluid" alt="">
                            </div>
                            <div class="col-md-8 col-sm-12">
                                <h4 class="text-left">Envíos a toda la Republica</h4>
                                <div style="width: 90px; height: 2px; background: #007bff;" class="mr-auto my-3"></div>
                                <p>Recogemos en tu puerta la mercancía y nos encargamos de que llegue a su destino con toda la seguridad y calidad que nuestros socios de negocio ofrecen</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
            <div class="col-md-6 d-block mx-auto">
                <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4 col-sm-12">
                                <img src="/assets/img/icon_draw_04.png" class="img-fluid" alt="">
                            </div>
                            <div class="col-md-8 col-sm-12">
                                <h4 class="text-left">Dark Store</h4>
                                <div style="width: 90px; height: 2px; background: #007bff;" class="mr-auto my-3"></div>
                                <p class="pb-4">Contamos con servicios integrales de Fulfillment, Shipment y Delivery dentro de CDMX y cualquier parte del país</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features">
    <div class="container">
        <div class="row">
            <div class="col-md-6 feat-cont">
                <h2 class="pb-4">Nuestras Ventajas</h2>
                <p class="lead text-justify">Siempre te escuchamos por eso al finalizar cada servicio recibiras una encuesta para evaluar el nivel de satisfacción</p>
                <p class="lead text-justify">Es muy importante para nosotros ya que ello nos ha hecho conservar a nuestros clientes durante más de 10 años</p>
            </div>
            <div class="col-md-6">
                <div class="row pb-3">
                    <div class="col-md-6">
                        <h4>Las mejores <br />tarifas</h4>
                        <div style="width: 50px; height: 2px; background: #1C1E5E;" class="mr-auto my-3"></div>
                        <p>Puedes comparar nuestras cotizaciones y te darás cuenta que contamos con las mejores tarifas del mercado</p>
                    </div>
                    <!--<div class="col-md-6">
                        <h4>No te dejamos en "visto"</h4>
                        <div style="width: 50px; height: 2px; background: #1C1E5E;" class="mr-auto my-3"></div>
                        <p>Utilizando la tecnología, siempre estarás en contacto con nosotros por medio de WhatsApp Business para aclarar cualquier duda o comentario que tengas</p>
                    </div>-->
                    <div class="col-md-6">
                        <h4>Premiamos tu fidelidad</h4>
                        <div style="width: 50px; height: 2px; background: #1C1E5E;" class="mr-auto my-3"></div>
                        <p>Con nuestro programa de lealtad, en cada cuarto envío que realices recibirás un 10% de descuento</p>
                    </div>
                </div>
                <div class="row">
                    <!--<div class="col-md-6">
                        <h4>Premiamos tu fidelidad</h4>
                        <div style="width: 50px; height: 2px; background: #1C1E5E;" class="mr-auto my-3"></div>
                        <p>Con nuestro programa de lealtad, en cada cuarto envío que realices recibirás un 10% de descuento</p>
                    </div>-->
                    <div class="col-md-6">
                        <h4>Seguridad en la <br />salud</h4>
                        <div style="width: 50px; height: 2px; background: #1C1E5E;" class="mr-auto my-3"></div>
                        <p>Nuestro servicio sanitiza tu carga, tanto en la opción Regular, como en Dedicado</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--<section class="reviews">
    <div class="container">
        <h2 class="text-left pb-5">Nuestras reseñas</h2>
        <!--Carousel Wrapper--
        <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel" id="testimoniales">

            <!--Controls--
            <div class="controls-top">
                <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
                <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
            </div>
            <!--/.Controls--
        
            <!--Indicators--
            <ol class="carousel-indicators">
                <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
                <li data-target="#multi-item-example" data-slide-to="1"></li>   
            </ol>
            <!--/.Indicators--
        
            <!--Slides--
            <div class="carousel-inner" role="listbox">
        
            <!--First slide--
            <div class="carousel-item active">
        
                <div class="col-md-4" style="float:left">
                    <div class="card mb-2 shadow rounded">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6">
                                    <h4 class="card-title">Julian Lopez</h4>
                                    <p class="text-cargo">CEO Finagel</p>
                                </div>
                                <div class="col-6 pt-4">
                                    <ul class="list-inline small">
                                        <li class="list-inline-item m-0"><i class="fa fa-star text-info"></i></li>
                                        <li class="list-inline-item m-0"><i class="fa fa-star text-info"></i></li>
                                        <li class="list-inline-item m-0"><i class="fa fa-star text-info"></i></li>
                                        <li class="list-inline-item m-0"><i class="fa fa-star text-info"></i></li>
                                        <li class="list-inline-item m-0"><i class="fa fa-star-o text-info"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis, nulla amet, qui, mollitia totam ratione asperiores eius.</p>
                        </div>
                    </div>
                </div>
        
                <div class="col-md-4" style="float:left">
                    <div class="card mb-2 shadow rounded">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6">
                                    <h4 class="card-title">Finagel</h4>
                                    <p class="text-cargo">Guadalajara, Jalisco</p>
                                </div>
                                <div class="col-6 pt-4">
                                    <ul class="list-inline small">
                                        <li class="list-inline-item m-0"><i class="fa fa-star text-info"></i></li>
                                        <li class="list-inline-item m-0"><i class="fa fa-star text-info"></i></li>
                                        <li class="list-inline-item m-0"><i class="fa fa-star text-info"></i></li>
                                        <li class="list-inline-item m-0"><i class="fa fa-star text-info"></i></li>
                                        <li class="list-inline-item m-0"><i class="fa fa-star text-info"></i></li>
                                    </ul>
                                </div>
                            </div>                         
                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis, nulla amet.</p>
                        </div>
                    </div>
                </div>
        
                <div class="col-md-4" style="float:left">
                    <div class="card mb-2 shadow rounded">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6">
                                    <h4 class="card-title">Ana de Armas</h4>
                                    <p class="text-cargo">Ventas, Mabul</p>
                                </div>
                                <div class="col-6 pt-4">
                                    <ul class="list-inline small">
                                        <li class="list-inline-item m-0"><i class="fa fa-star text-info"></i></li>
                                        <li class="list-inline-item m-0"><i class="fa fa-star text-info"></i></li>
                                        <li class="list-inline-item m-0"><i class="fa fa-star text-info"></i></li>
                                        <li class="list-inline-item m-0"><i class="fa fa-star text-info"></i></li>
                                        <li class="list-inline-item m-0"><i class="fa fa-star text-info"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis, nulla amet, qui, mollitia totam ratione asperiores eius.</p>
                        </div>
                    </div>
                </div>
        
            </div>
            <!--/.First slide--
        
            <!--Second slide--
            <div class="carousel-item">

                <div class="col-md-4" style="float:left">
                    <div class="card mb-2 shadow rounded">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6">
                                    <h4 class="card-title">Ana de Armas</h4>
                                    <p class="text-cargo">Ventas, Mabul</p>
                                </div>
                                <div class="col-6 pt-4">
                                    <ul class="list-inline small">
                                        <li class="list-inline-item m-0"><i class="fa fa-star text-info"></i></li>
                                        <li class="list-inline-item m-0"><i class="fa fa-star text-info"></i></li>
                                        <li class="list-inline-item m-0"><i class="fa fa-star text-info"></i></li>
                                        <li class="list-inline-item m-0"><i class="fa fa-star text-info"></i></li>
                                        <li class="list-inline-item m-0"><i class="fa fa-star text-info"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis, nulla amet, qui, mollitia totam ratione asperiores eius.</p>
                        </div>
                    </div>
                </div>
        
                <div class="col-md-4" style="float:left">
                    <div class="card mb-2 shadow rounded">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6">
                                    <h4 class="card-title">Ana de Armas</h4>
                                    <p class="text-cargo">Ventas, Mabul</p>
                                </div>
                                <div class="col-6 pt-4">
                                    <ul class="list-inline small">
                                        <li class="list-inline-item m-0"><i class="fa fa-star text-info"></i></li>
                                        <li class="list-inline-item m-0"><i class="fa fa-star text-info"></i></li>
                                        <li class="list-inline-item m-0"><i class="fa fa-star text-info"></i></li>
                                        <li class="list-inline-item m-0"><i class="fa fa-star text-info"></i></li>
                                        <li class="list-inline-item m-0"><i class="fa fa-star text-info"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis, nulla amet, qui, mollitia totam ratione asperiores eius.</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4" style="float:left">
                    <div class="card mb-2 shadow rounded">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6">
                                    <h4 class="card-title">Finagel</h4>
                                    <p class="text-cargo">Guadalajara, Jalisco</p>
                                </div>
                                <div class="col-6 pt-4">
                                    <ul class="list-inline small">
                                        <li class="list-inline-item m-0"><i class="fa fa-star text-info"></i></li>
                                        <li class="list-inline-item m-0"><i class="fa fa-star text-info"></i></li>
                                        <li class="list-inline-item m-0"><i class="fa fa-star text-info"></i></li>
                                        <li class="list-inline-item m-0"><i class="fa fa-star text-info"></i></li>
                                        <li class="list-inline-item m-0"><i class="fa fa-star-o text-info"></i></li>
                                    </ul>
                                </div>
                            </div>                         
                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis, nulla amet.</p>
                        </div>
                    </div>
                </div>
        
            </div>
            <!--/.Second slide--     
                       
            </div>
            <!--/.Slides--
        
        </div>
        <!--/.Carousel Wrapper--
    </div>
    
</section>-->

<section class="cta"> 
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="text-white pb-4">¡Nos vemos en tu<br> siguiente entrega!</h2>
                <a href="/user/register" class="btn btn-primary mb-2 rounded-pill shadow-sm">
                    ¡Comienza Ahora!
                </a>
            </div>
        </div>
    </div>
</section>

<div class="float_buttons_div">
    <ul class="icons_list">
        <li>
            <a href="mailto:contact@localpost.com.mx"><i class="phone-icon fa fa-envelope fa-lg"></i></a>
        </li>
    </ul>  
    <ul class="icons_list">
        <li>
            <a href="/user/register" class="btn-icon">Cotiza aqui</a>
        </li>
        <li>
            <a href="/rastreo" class="btn-icon">Rastrea tu paquete</a>
        </li>
    </ul>  
</div>

<app-footer></app-footer>