<app-navbar></app-navbar>

<!--<section class="rastreo">
    <div class="container d-flex justify-content-center">
        
        <div class="col-md-8 justify-content-center">
            <h2 class="text-center">Rastrea tu envío</h2>
            <div class="card mt-5 p-4">
                <form [formGroup]="rastreoForm" (ngSubmit)="rastreo(rastreoForm.value)">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" formControlName="guia" placeholder="Numero de guia">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        
    </div>

    <div class="container d-flex justify-content-center">
        <div class="col-md-8 justify-content-center">
            <!-- Desde aqui repetimos las card para los resultados --
            <div class="card mt-2 p-2">
                <div class="d-flex flex-row justify-content-between mb-2">
                    <div class="d-flex flex-column p-2">
                        <small class="text-muted">Tipo de envio: TIERRA</small>
                        <h4 class="mb-1">OCS-000131-01/1</h4> <small class="text-muted">martes, 5 de enero de 2021</small>
                    </div>
                    <div class="price pt-3 pl-3"> 
                        <span class="mb-2">Status</span>
                        <h5>Documentado</h5>
                    </div>
                </div>
            </div>

            <div *ngFor="let items of item2">
                <div class="card mt-2 p-2">
                  <div class="d-flex flex-row justify-content-between mb-2">
                    <div class="d-flex flex-column p-2">
                      <div [ngSwitch]="items.tipo_envio">
                        <small class="text-muted" *ngSwitchCase="'10'">Tipo de envio: TIERRA</small>
                        <small class="text-muted" *ngSwitchCase="'30'">Tipo de envio: MEX</small>
                      </div>
                      <small class="text-muted">Tipo de envio: </small>
                      <h4 class="mb-1">OCS-000131-01/1</h4> 
                    </div>
                    <div class="price pt-3 pl-3"> 
                      <span class="mb-2">Status</span>
                      <h5>Documentado</h5>
                    </div>
                  </div>
                </div>
            </div>

        </div>
    </div>
    
</section>-->

<iframe width="100%" height="800px" frameBorder="0" [src]="urlSafe"></iframe>

<app-footer></app-footer>