
<div class="container-fluid">
    <div class="row no-gutter">
        <!-- The image half -->
        <div class="col-md-6 d-none d-md-flex bg-image"></div>


        <!-- The content half -->
        <div class="col-md-6 bg-light">
            <div class="login d-flex align-items-center py-5">

                <!-- Demo content-->
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-xl-7 mx-auto">
                            <h3 class="display-4">¡Bienvenido!</h3>
                            <p class="text-muted mb-4">Acceso al dashboard de Local Post</p>
                            <form [formGroup] = "loginForm" (ngSubmit)="onLogin(loginForm.value)">
                                <div class="form-group mb-3">
                                    <input id="inputEmail" type="email" formControlName="email" placeholder="Correo electrónico" required="" autofocus="" class="form-control rounded-pill border-0 shadow-sm px-4">
                                </div>
                                <div class="form-group mb-3">
                                    <input id="inputPassword" type="password" formControlName="password" placeholder="Contraseña" required="" class="form-control rounded-pill border-0 shadow-sm px-4 text-primary">
                                </div>
                                <!--<div class="custom-control custom-checkbox mb-3">
                                    <input id="customCheck1" type="checkbox" checked class="custom-control-input">
                                    <label for="customCheck1" class="custom-control-label">Remember password</label>
                                </div>-->
                                <button type="submit" class="btn btn-primary btn-block mb-2 rounded-pill shadow-sm">Iniciar sesión</button>

                                <div class="text-center d-flex justify-content-between mt-4">
                                    <p>Regresar al <a href="/" class="font-italic text-muted"> <u>Inicio</u></a></p>
                                </div>
                                <div class="text-left d-flex justify-content-between mt-4">
                                    <p>¿Quieres mandar tus paquetes con nosotros? <a href="/user/register">¡Comienza ahora!</a></p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div><!-- End -->

            </div>
        </div><!-- End -->

    </div>
</div>
