<app-navbaradmin></app-navbaradmin>



<section class="nuevo-envio">
  <div class="container">

    <div class="row">
      <div class="col-md-12 mx-auto pb-5">
          <h3 class="text-left">Cuentanos más de tu envio</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="rounded-lg shadow p-4 send-form">
          <!-- Credit card form tabs -->
          <ul role="tablist" class="nav bg-light nav-pills rounded-pill nav-fill mb-3">
            <li class="nav-item">
              <a data-toggle="pill" href="#nav-tab-regular" class="nav-link active rounded-pill">
                 CDMX y Zona Metropolitana
              </a>
            </li>
            <!--<li class="nav-item">
              <a data-toggle="pill" href="#nav-tab-int-rep" class="nav-link rounded-pill">
                 Interior de la republica 
              </a>
            </li>-->
            <li class="nav-item">
              <a data-toggle="pill" href="#nav-tab-dedicado" class="nav-link rounded-pill">
                 Fletes Dedicados
              </a>
            </li>
          </ul>
          <!-- End -->
  
  
          <!-- Pre Envio form content -->
          <div class="tab-content">
  
            <!-- Regular info-->
            <div id="nav-tab-regular" class="tab-pane fade show active">
              
              <form [formGroup]="nuevoEnvioForm" (ngSubmit)="registerEnvio(nuevoEnvioForm.value)">

                <div class="form-row mb-3">
                  <h5>Elegir Procedencia</h5>
                  <input type="text" class="form-control" formControlName="direccion_origen" placeholder="Dirección">
                </div>

                <div class="form-row">
                  <div class="form-group col-md-5 mb-3">
                    <select class="custom-select d-block w-100" formControlName="estado_origen">
                      <option value="">Estado</option>
                      <option value="CDMX">Ciudad de México</option>
                      <option value="EDOMEX">Estado de México</option>
                    </select>
                  </div>
                  <div class="form-group  col-md-4 mb-3">
                    <select class="custom-select d-block w-100" formControlName="ciudad_origen">
                      <option value="">Municipio/Alcaldía</option>
                      <option value="Alvaro Obregon">Álvaro Obregón</option>
                      <option value="Azcapotzalco">Azcapotzalco</option>
                      <option value="Benito Juarez">Benito Juárez</option>
                      <option value="Coyoacan">Coyoacán</option>
                      <option value="Cuajimalpa de Morelos">Cuajimalpa de Morelos</option>
                      <option value="Cuauhtemoc">Cuauhtémoc</option>
                      <option value="Gustavo A. Madero">Gustavo A. Madero</option>
                      <option value="Iztacalco">Iztacalco</option>
                      <option value="Iztapalapa">Iztapalapa</option>
                      <option value="La Magdalena Contreras">La Magdalena Contreras</option>
                      <option value="Miguel Hidalgo">Miguel Hidalgo</option>
                      <option value="Milpa Alta">Milpa Alta</option>
                      <option value="Tláhuac">Tláhuac</option>
                      <option value="Tlalpan">Tlalpan</option>
                      <option value="Venustiano Carranza">Venustiano Carranza</option>
                      <option value="Xochimilco">Xochimilco</option>
                      <option value="Coacalco">Coacalco</option>
                      <option value="Ecatepec">Ecatepec</option>
                      <option value="Huixquilucan">Huixquilucan</option>
                      <option value="Naucalpan de Juarez">Naucalpan de Juárez</option>
                      <option value="Nezahualcoyotl">Nezahualcóyotl</option>
                      <option value="Tlalnepantla">Tlalnepantla</option>
                      <option value="Tultitlan">Tultitlán</option>
                    </select>
                  </div>
                  <div class="form-group  col-md-3 mb-3">
                    <input type="text" class="form-control" formControlName="cp_origen" placeholder="Código Postal" >
                  </div>
                </div>
      
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <h5>Elegir Destino</h5>
                    <input type="text" class="form-control" formControlName="receptor" placeholder="Nombre de quien recibe">
                  </div>
                  <div class="form-group col-md-12">
                    <input type="text" class="form-control" formControlName="direccion_destino" placeholder="Dirección">
                  </div>
                  <div class="form-group col-md-6">
                    <input type="text" class="form-control" formControlName="telefono_receptor" placeholder="Teléfono de quien recibe">
                  </div>
                  <div class="form-group col-md-6">
                    <select class="custom-select d-block w-100" formControlName="estado_destino">
                      <option value="" selected>Estado</option>
                      <option value="CDMX">Ciudad de México</option>
                      <option value="EDOMEX">Estado de México</option>
                    </select>
                  </div>
                  <div class="form-group col-md-6" >
                    <select class="custom-select d-block w-100" formControlName="ciudad_destino">
                      <option value="" selected>Municipio/Alcaldía</option>
                      <option value="Alvaro Obregon">Álvaro Obregón</option>
                      <option value="Azcapotzalco">Azcapotzalco</option>
                      <option value="Benito Juarez">Benito Juárez</option>
                      <option value="Coyoacan">Coyoacán</option>
                      <option value="Cuajimalpa de Morelos">Cuajimalpa de Morelos</option>
                      <option value="Cuauhtemoc">Cuauhtémoc</option>
                      <option value="Gustavo A. Madero">Gustavo A. Madero</option>
                      <option value="Iztacalco">Iztacalco</option>
                      <option value="Iztapalapa">Iztapalapa</option>
                      <option value="La Magdalena Contreras">La Magdalena Contreras</option>
                      <option value="Miguel Hidalgo">Miguel Hidalgo</option>
                      <option value="Milpa Alta">Milpa Alta</option>
                      <option value="Tlahuac">Tláhuac</option>
                      <option value="Tlalpan">Tlalpan</option>
                      <option value="Venustiano Carranza">Venustiano Carranza</option>
                      <option value="Xochimilco">Xochimilco</option>
                      <option value="Coacalco">Coacalco</option>
                      <option value="Ecatepec">Ecatepec</option>
                      <option value="Huixquilucan">Huixquilucan</option>
                      <option value="Naucalpan de Juarez">Naucalpan de Juárez</option>
                      <option value="Nezahualcoyotl">Nezahualcóyotl</option>
                      <option value="Tlalnepantla">Tlalnepantla</option>
                      <option value="Tultitlan">Tultitlán</option>
                    </select>
                  </div>
                  <div class="form-group col-md-6">
                      <input type="text" class="form-control" formControlName="cp_destino" placeholder="Código Postal">
                  </div>
                </div>
      
                  <div class="form-row">
                    <div class="col-md-12">
                      <h5>Datos del paquete</h5>
                    </div>
                    <div class="form-group col-md-6"> 
                      <label for="example-date-input">¿Peso del envío?</label> 
                      <select class="form-control" formControlName="peso" [(ngModel)]="tipo_peso" (ngModelChange)="modelChangeFn($event)"> 
                        <option [value]="item" *ngFor="let item of peso">{{item}}</option>
                      </select>
                      <small class="form-text text-muted">Si tu envio pesa más se hara el ajuste del costo.</small>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="example-date-input">Tipo de Embalaje</label>
                      <input class="form-control" formControlName="embalaje" [ngModel]="tipo_emb" value="{{ tipo_emb }}" readonly="readonly">
                    </div>
                  </div>

                <div class="form-row">
                  <div class="form-group col-md-12 mb-0">
                    <label>¿Deseas Facturar?</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio"  formControlName="factura" value="1" (change)="agregraImpuesto($event)">
                    <label class="form-check-label" for="inlineRadio1">Si</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" formControlName="factura" value="0" (change)="agregraImpuesto($event)">
                    <label class="form-check-label" for="inlineRadio2">No</label>
                  </div>
                </div>

                <!-- Si el peso del paquete es mayor a 20kg mostramos un text area -->
                <div *ngIf="pesoStatus; else elseBlock">

                  <div class="form-row pt-3">
                    <div class="form-group col-md-12">
                      <textarea class="form-control" formControlName="comentarios" rows="3" placeholder="Cuentanos que es lo que vas a enviar"></textarea>
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="form-group col-md-4">
                      <input type="hidden" formControlName="token">
                    </div>
                    <div class="form-group col-md-4">
                      <input type="hidden" formControlName="cliente_emisor_id">
                    </div>
                    <div class="form-group col-md-4">
                      <input type="hidden" class="form-control" formControlName="tipo_envio" [ngModel]="tipoEnvio" value="{{ tipoEnvio }}" readonly>
                    </div>
                  </div>

                  <button type="submit" class="subscribe btn btn-primary btn-block rounded-pill shadow-sm"><i class="fa fa-send mr-2"></i> Cotizar envio  </button>

                </div>

                <!-- Si el peso es menor mostramos el boton de calcular y de pago de paypal -->
                <ng-template #elseBlock>

                  <div class="form-row pt-4">
                    <button type="button" class="btn btn-secondary rounded-pill mt-0" (click)="calcularCosto(tipo_peso, tipo_emb)"><i class="fa fa-calculator mr-1"></i> Calcular costo</button>
                  </div>
  
                  <div class="form-row mt-3">
                    <div class="form-group col-md-4">
                      <label class="pr-3" for=""> Costo: </label>
                      <!--<input type="text" class="form-control" formControlName="total" value="{{ costo_final.value }}"  readonly="readonly">-->
                      <input type="text" class="form-control" formControlName="total" [ngModel]="costo_final" value="{{ costo_final }}"  readonly>
                      <input type="hidden" class="form-control" formControlName="subtotal" [ngModel]="costo_final_SINIVA" value="{{ costo_final_SINIVA }}"  readonly>
                      <input type="hidden" class="form-control" formControlName="impuesto" [ngModel]="costo_final_IVA" value="{{ costo_final_IVA }}"  readonly>
                    </div>
                  </div>
  
                  <div class="form-row">
                    <div class="form-group col-md-4">
                      <input type="hidden" formControlName="token">
                    </div>
                    <div class="form-group col-md-4">
                      <input type="hidden" formControlName="cliente_emisor_id">
                    </div>
                    <div class="form-group col-md-4">
                      <input type="hidden" class="form-control" formControlName="tipo_envio" [ngModel]="tipoEnvio" value="{{ tipoEnvio }}" readonly>
                    </div>
                  </div>
  
                  
                  <ngx-paypal [config]="payPalConfig"></ngx-paypal>
                  
  
                  <div class="form-row">
                    <button type="submit" class="btn btn-secondary btn-block rounded-pill ml-3"><i class="fa fa-credit-card mr-2"></i> Pagar más tarde</button>
                  </div>

                </ng-template>

                
              </form>

            </div>
            <!-- End -->
  
            <!-- Dedicado info -->
            <div id="nav-tab-dedicado" class="tab-pane fade">

              <form [formGroup]="nuevoEnvioForm" (ngSubmit)="registerEnvio(nuevoEnvioForm.value)">

                <div class="form-row">
                  <div class="form-group col-md-12">
                    <h5>Elegir Procedencia</h5>
                    <input type="text" class="form-control" formControlName="direccion_origen" placeholder="Dirección">
                  </div>
                  <!--<div class="form-group col-md-12">
                    <input type="text" class="form-control" placeholder="Colonia">
                  </div>-->
                  <div class="form-group col-md-5">
                    <select class="custom-select d-block w-100" formControlName="estado_origen">
                      <option value="" selected>Estado</option>
                      <option value="CDMX">Ciudad de México</option>
                      <option value="EDOMEX">Estado de México</option>
                    </select>
                  </div>
                  <div class="form-group col-md-4">
                    <select class="custom-select d-block w-100" formControlName="ciudad_origen">
                      <option value="" selected>Municipio/Alcaldía</option>
                      <option value="Alvaro Obregon">Álvaro Obregón</option>
                      <option value="Azcapotzalco">Azcapotzalco</option>
                      <option value="Benito Juarez">Benito Juárez</option>
                      <option value="Coyoacan">Coyoacán</option>
                      <option value="Cuajimalpa de Morelos">Cuajimalpa de Morelos</option>
                      <option value="Cuauhtemoc">Cuauhtémoc</option>
                      <option value="Gustavo A. Madero">Gustavo A. Madero</option>
                      <option value="Iztacalco">Iztacalco</option>
                      <option value="Iztapalapa">Iztapalapa</option>
                      <option value="La Magdalena Contreras">La Magdalena Contreras</option>
                      <option value="Miguel Hidalgo">Miguel Hidalgo</option>
                      <option value="Milpa Alta">Milpa Alta</option>
                      <option value="Tláhuac">Tláhuac</option>
                      <option value="Tlalpan">Tlalpan</option>
                      <option value="Venustiano Carranza">Venustiano Carranza</option>
                      <option value="Xochimilco">Xochimilco</option>
                      <option value="Coacalco">Coacalco</option>
                      <option value="Ecatepec">Ecatepec</option>
                      <option value="Huixquilucan">Huixquilucan</option>
                      <option value="Naucalpan de Juarez">Naucalpan de Juárez</option>
                      <option value="Nezahualcoyotl">Nezahualcóyotl</option>
                      <option value="Tlalnepantla">Tlalnepantla</option>
                      <option value="Tultitlan">Tultitlán</option>
                    </select>
                  </div>
                  <div class="form-group col-md-3">
                      <input type="number" class="form-control" formControlName="cp_origen" placeholder="Código Postal">
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-12">
                    <h5>Elegir Destino</h5>
                    <input type="text" class="form-control" formControlName="receptor" placeholder="Nombre de quien recibe">
                  </div>
                  <div class="form-group col-md-12">
                    <input type="text" class="form-control" formControlName="direccion_destino" placeholder="Dirección de quien recibe">
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-6">
                    <input type="text" class="form-control" formControlName="telefono_receptor" placeholder="Teléfono de quien recibe">
                  </div>
                  <div class="form-group col-md-6">
                    <select class="custom-select d-block w-100" formControlName="estado_destino" >
                      <option value="" selected>Estado</option>
                      <option value="CDMX">Ciudad de México</option>
                      <option value="EDOMEX">Estado de México</option>
                      <option value="Cuernavaca">Cuernavaca</option>
                      <option value="Pachuca">Pachuca</option>
                      <option value="Puebla">Puebla</option>
                      <option value="Queretaro">Queretaro</option>
                      <option value="Toluca">Toluca</option>
                    </select>
                  </div>
                  <div class="form-group col-md-6">
                    <input type="text" class="form-control" formControlName="ciudad_destino"  placeholder="Municipio">
                  </div>
                  <div class="form-group col-md-6">
                    <input type="text" class="form-control" formControlName="cp_destino"  placeholder="Código Postal">
                </div>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-12">
                    <textarea class="form-control" formControlName="comentarios" rows="3" placeholder="Cuentanos que es lo que vas a enviar"></textarea>
                  </div>
                </div>
                
                <div class="form-row">
                  <div class="form-group col-md-12 mb-0">
                    <label>¿Deseas Facturar?</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio"  formControlName="factura" value="1">
                    <label class="form-check-label" for="inlineRadio1">Si</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" formControlName="factura" value="0">
                    <label class="form-check-label" for="inlineRadio2">No</label>
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-3">
                    <input type="hidden" formControlName="token">
                  </div>
                  <div class="form-group col-md-3">
                    <input type="hidden" formControlName="cliente_emisor_id">
                  </div>
                  <div class="form-group col-md-3">
                    <!--<input type="text" formControlName="tipo_envio" [ngModel]="tipoEnvio1" value="{{ tipoEnvio1 }}" readonly>-->
                    <input type="hidden" class="form-control" formControlNmae="tipo_envio" value="30" readonly>
                  </div>
                </div>
    
                <button type="submit" class="subscribe btn btn-primary btn-block rounded-pill shadow-sm"><i class="fa fa-send mr-2"></i> Cotizar envio  </button>

              </form>

            </div>
            <!-- End -->
  
            <!-- Interior de la Rep. info -->
            <div id="nav-tab-int-rep" class="tab-pane fade">
              
              <form [formGroup]="nuevoEnvioForm" (ngSubmit)="registerEnvio(nuevoEnvioForm.value)">

                <div class="form-row">
                  <div class="form-group col-md-12">
                    <h5>Elegir Procedencia</h5>
                    <input type="text" class="form-control" formControlName="direccion_origen" placeholder="Dirección">
                  </div>

                  <div class="form-group col-md-5">
                    <select id="state" class="custom-select d-block w-100" formControlName="estado_origen">
                      <option value="" selected>Estado</option>
                      <option value="Aguascalientes">Aguascalientes</option>
                      <option value="Baja California">Baja California</option>
                      <option value="Baja California Sur">Baja California Sur</option>
                      <option value="Campeche">Campeche</option>
                      <option value="Chiapas">Chiapas</option>
                      <option value="Chihuahua">Chihuahua</option>
                      <option value="CDMX">Ciudad de México</option>
                      <option value="Coahuila">Coahuila</option>
                      <option value="Colima">Colima</option>
                      <option value="Durango">Durango</option>
                      <option value="Estado de México">Estado de México</option>
                      <option value="Guanajuato">Guanajuato</option>
                      <option value="Guerrero">Guerrero</option>
                      <option value="Hidalgo">Hidalgo</option>
                      <option value="Jalisco">Jalisco</option>
                      <option value="Michoacán">Michoacán</option>
                      <option value="Morelos">Morelos</option>
                      <option value="Nayarit">Nayarit</option>
                      <option value="Nuevo León">Nuevo León</option>
                      <option value="Oaxaca">Oaxaca</option>
                      <option value="Puebla">Puebla</option>
                      <option value="Querétaro">Querétaro</option>
                      <option value="Quintana Roo">Quintana Roo</option>
                      <option value="San Luis Potosí">San Luis Potosí</option>
                      <option value="Sinaloa">Sinaloa</option>
                      <option value="Sonora">Sonora</option>
                      <option value="Tabasco">Tabasco</option>
                      <option value="Tamaulipas">Tamaulipas</option>
                      <option value="Tlaxcala">Tlaxcala</option>
                      <option value="Veracruz">Veracruz</option>
                      <option value="Yucatán">Yucatán</option>
                      <option value="Zacatecas">Zacatecas</option>
                    </select>  
                  </div>
                  <div class="form-group col-md-4">
                    <input type="text" class="form-control" formControlName="ciudad_origen" placeholder="Municipio">
                  </div>
                  <div class="form-group col-md-3">
                    <input type="text" class="form-control" formControlName="cp_origen" placeholder="Código Postal">
                </div>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-12">
                    <h5>Elegir Destino</h5>
                    <input type="text" class="form-control" formControlName="receptor" placeholder="Nombre de quien recibe">
                  </div>
                  <div class="form-group col-md-12">
                    <input type="text" class="form-control" formControlName="direccion_destino" placeholder="Dirección de quien recibe">
                  </div>
                </div>
                
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <input type="text" class="form-control" formControlName="telefono_receptor" placeholder="Teléfono de quien recibe">
                  </div>
                  <div class="form-group col-md-6">
                    <select class="custom-select d-block w-100" formControlName="estado_destino">
                      <option value="" selected>Estado</option>
                      <option value="Aguascalientes">Aguascalientes</option>
                      <option value="Baja California">Baja California</option>
                      <option value="Baja California Sur">Baja California Sur</option>
                      <option value="Campeche">Campeche</option>
                      <option value="Chiapas">Chiapas</option>
                      <option value="Chihuahua">Chihuahua</option>
                      <option value="CDMX">Ciudad de México</option>
                      <option value="Coahuila">Coahuila</option>
                      <option value="Colima">Colima</option>
                      <option value="Durango">Durango</option>
                      <option value="Estado de México">Estado de México</option>
                      <option value="Guanajuato">Guanajuato</option>
                      <option value="Guerrero">Guerrero</option>
                      <option value="Hidalgo">Hidalgo</option>
                      <option value="Jalisco">Jalisco</option>
                      <option value="Michoacán">Michoacán</option>
                      <option value="Morelos">Morelos</option>
                      <option value="Nayarit">Nayarit</option>
                      <option value="Nuevo León">Nuevo León</option>
                      <option value="Oaxaca">Oaxaca</option>
                      <option value="Puebla">Puebla</option>
                      <option value="Querétaro">Querétaro</option>
                      <option value="Quintana Roo">Quintana Roo</option>
                      <option value="San Luis Potosí">San Luis Potosí</option>
                      <option value="Sinaloa">Sinaloa</option>
                      <option value="Sonora">Sonora</option>
                      <option value="Tabasco">Tabasco</option>
                      <option value="Tamaulipas">Tamaulipas</option>
                      <option value="Tlaxcala">Tlaxcala</option>
                      <option value="Veracruz">Veracruz</option>
                      <option value="Yucatán">Yucatán</option>
                      <option value="Zacatecas">Zacatecas</option>
                    </select>  
                  </div>
                  <div class="form-group col-md-6">
                    <input type="text" class="form-control" formControlName="ciudad_destino" placeholder="Municipio">
                  </div>
                  <div class="form-group col-md-6">
                    <input type="text" class="form-control" formControlName="cp_destino" placeholder="Código Postal">
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-12">
                    <textarea class="form-control" formControlName="comentarios" rows="3" placeholder="Cuentanos que es lo que vas a enviar"></textarea>
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-12 mb-0">
                    <label>¿Deseas Facturar?</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio"  formControlName="factura" value="1">
                    <label class="form-check-label" for="inlineRadio1">Si</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" formControlName="factura" value="0">
                    <label class="form-check-label" for="inlineRadio2">No</label>
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-3">
                    <input type="hidden" formControlName="token">
                  </div>
                  <div class="form-group col-md-3">
                      <input type="hidden" formControlName="cliente_emisor_id">
                  </div>
                  <div class="form-group col-md-3">
                      <!--<input type="text" formControlName="tipo_envio" [ngModel]="tipoEnvio2" value="{{ tipoEnvio2 }}" readonly>-->
                      <input type="hidden" class="form-control" formControlNmae="tipo_envio" value="20" readonly>
                  </div>
                </div>
    
                <button type="submit" class="subscribe btn btn-primary btn-block rounded-pill shadow-sm"><i class="fa fa-send mr-2"></i> Cotizar envio  </button>

              </form>  
            </div>
            <!-- End -->
          </div>
          <!-- End -->
  
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>