<app-navbar></app-navbar>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="pb-3">Terminos y condiciones</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sollicitudin leo eu sapien mollis posuere. Etiam imperdiet sapien turpis, in gravida dolor sollicitudin eu. Mauris hendrerit rutrum nulla. Nulla tempor ante porta eros interdum sagittis. Cras ex tellus, placerat tempor risus ac, congue molestie lacus. Vivamus id urna placerat, egestas tortor ut, commodo turpis. Vivamus ac scelerisque velit. Quisque arcu lectus, ultrices eu lacus vel, faucibus molestie nisl. Ut vestibulum nisl sed faucibus porttitor. Ut egestas velit nec neque tincidunt sagittis. Proin eu tellus sem. Integer volutpat augue nibh, a vehicula lorem auctor at.</p>

                <p>Sed ut neque hendrerit, condimentum enim sit amet, hendrerit diam. Integer facilisis eros id augue lacinia aliquam. Nunc vehicula scelerisque tempus. Nam vestibulum gravida egestas. Etiam a dolor nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse consequat, orci ac placerat laoreet, ante est molestie eros, nec tempor sem enim ut orci. Sed diam lacus, sagittis ut aliquet ut, tincidunt ac arcu. Nulla rutrum lorem quis turpis fermentum viverra. Fusce id hendrerit dolor, non posuere nulla. Maecenas orci lectus, rhoncus a egestas ut, iaculis id augue. In ligula velit, ultricies pretium orci ut, elementum pellentesque enim. Proin sed massa egestas, vehicula metus vitae, sodales augue.</p>
                    
                <p>Sed facilisis, quam quis dignissim elementum, odio orci iaculis ipsum, congue dictum turpis nisl eget neque. Etiam viverra justo in dapibus pharetra. Fusce id enim turpis. Fusce tortor lorem, imperdiet nec tristique vel, molestie nec nisl. Vestibulum blandit diam sed cursus dapibus. Phasellus eget nulla sapien. Phasellus commodo velit dui. Phasellus tellus quam, rutrum ultricies felis ut, sollicitudin maximus odio. Nam lobortis faucibus lorem, vitae elementum elit egestas et.</p>
                    
                <p>Nulla sed dolor porta, eleifend arcu nec, placerat diam. Quisque ultricies ornare augue eget vehicula. Sed eget mattis urna. Quisque ut rutrum ante. Duis euismod velit eget elit malesuada sollicitudin. Mauris ultricies, nisi vel tristique egestas, sapien velit laoreet erat, quis congue ligula erat vel urna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Maecenas blandit faucibus nibh ut porta. Duis laoreet magna vitae rhoncus mollis. Quisque tempus ac turpis eu semper. Aliquam non lectus nec neque tincidunt maximus eget in tellus. Aenean tempus sed arcu at semper. Aenean efficitur, est hendrerit imperdiet cursus, nisi nunc mattis nibh, sit amet pharetra magna dui eget lectus.</p>
        
            </div>
        </div>    
    </div>
</section>

<app-footer></app-footer>