<app-navbar></app-navbar>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="pb-3">Aviso de Privacidad</h2>
                <p>LOCAL POST S.A.S DE C.V (LOCAL POST), con domicilio en Ramiriqui 245 Col San Pedro Zacatenco, alcaldía Gustavo A Madero, Ciudad de Mexico, es el responsable del tratamiento de sus datos personales.</p>   
 
                <h5>¿Para qué fines utilizamos sus datos personales?</h5>

                <ol type="a">
                    <li>Primarias. </li>
                    <ol type="I">
                        <li>Cotización y prestación de los servicios de mensajería paquetería, almacenaje y servicios logísticos. </li>
                        <li>Envío de información relativa al estatus del servicio y/o producto contratado, rastreo de sus envíos a través de nuestras plataformas.</li>
                        <li>Gestionar y procesar los pagos respecto de los servicios y/o productos.</li>
                        <li>Emitir los comprobantes fiscales correspondientes respecto de los servicios y/o productos contratados.</li>
                        <li>Cotizar el costo de los productos y/o servicios que usted requiera.</li>
                        <li>Gestionar y permitir el acceso a su cuenta en caso de registrarse en nuestro sitio de internet www.localpost.com.mx  </li>
                        <li>Procesar y atender sus solicitudes en caso de que se ponga en contacto con nuestro departamento de atención a clientes. </li>
                        <li>LOCAL POST podrá realizar video-vigilancia al interior y en la zona perimetral de sus instalaciones con la finalidad de preservar y garantizar su seguridad y la de las instalaciones de LOCAL POST.</li>
                    </ol>
                    <li>Secundarias.</li>
                    <ol type="I">
                        <li>Llevar a cabo encuestas a efecto de evaluar la calidad de los servicios y/o productos prestados por LOCAL POST. </li>
                        <li>Enviarle por diversos medios información respecto de nuestros servicios, productos y promociones. </li>
                        <li>Invitarlo a participar en rifas, sorteos, concursos, eventos y programas de incentivos.</li>
                    </ol>
                </ol>

                <p>En caso de que usted no quiera que sus datos personales sean tratados para alguna de las finalidades descritas en este inciso b, favor de enviar un correo electrónico a contact@localpost.com.mx; en caso de que usted no manifieste su negativa para el tratamiento de sus datos personales dentro de un plazo de 5 días hábiles, se entenderá que usted ha otorgado su consentimiento.</p>

                <h5>¿Qué datos personales recabamos? </h5>

                <p>Para llevar a cabo las finalidades descritas en el presente aviso de privacidad, utilizaremos los siguientes datos personales, mismos que pueden ser recabados a través de: (i) nuestros sitios de internet www.localpost.com.mx, ii) redes sociales desde las cuentas oficiales de LOCAL POST iii) otras herramientas tecnológicas creadas por LOCAL POST (en cuyo caso podrá consultar el Aviso de Privacidad aplicable cuando acceda a cada una) (iv) en nuestros puntos de venta, (v) a través del área de ventas de LOCAL POST, (vi) área de atención a clientes a través de nuestra línea de ayuda, vía correo electrónico, o ligas de contacto en nuestras páginas de internet.</p>

                <ol type="I">
                    <li>Nombre, domicilio, teléfono, correo electrónico del remitente y destinatario. </li>
                    <li>Registro Federal de Contribuyentes.</li>
                    <li>Declaración sobre el contenido del paquete objeto de la prestación de los servicios. </li>
                    <li>Identificación oficial. </li>
                    <li>Nombre y firma de la persona que recibe los paquetes objeto de la prestación de los servicios. </li>
                    <li>Usuario y correo para efectos de registro como usuario en nuestros sitios de internet. </li>
                    <li>Datos de tarjeta de crédito o débito a efecto de realizar el cobro de los productos y/o servicios, en el caso de compras a través de nuestros sitios de internet, LOCAL POST solo tiene acceso a información limitada respecto los datos de sus tarjetas a través de sus proveedores de servicios de cobro.</li>
                    <li>Información que nos proporcione a través del área de contacto o atención a clientes relativa a sucesos, incidentes, quejas o sugerencias relacionadas con la prestación de los servicios y/o productos contratados.</li>
                    <li>Imágenes, videos y sonidos de las cámaras de video-vigilancia de las instalaciones de LOCAL POST y zona perimetral. </li>
                </ol>

                <p>Le informamos que el presente sitio de internet tiene implementados candados de seguridad SSL, cookies y otras herramientas de rastreo. </p>
 
                <p>Cuando usted accede a <a href="https://www.localpost.com.mx">https://www.localpost.com.mx</a>  podemos utilizar “cookies” que nos permiten tener información respecto de las visitas registradas de usuarios, así como otro tipo de información que permite el envío de información y recomendaciones de acuerdo a preferencias. Usted puede deshabilitar las “cookies” accediendo a las preferencias de su navegador.</p>
 
                <p>LOCAL POST bajo ninguna circunstancia recaba datos personales sensibles, en caso de ser necesario se solicitará su consentimiento expreso para dichos efectos. Cualquier otro dato que usted nos proporcione y no sea requerido conforme a lo expuesto en el presente Aviso de Privacidad será inmediatamente eliminado de las bases de datos de LOCAL POST.</p>

                <h5>¿Con quién compartimos su información personal y para qué fines? </h5>
                
                <p>Para poder brindar el servicio adecuadamente realizamos distintas transferencias y/o remisiones de datos. </p>
 
                <p>(I) Los datos personales podrán ser transferidos o remitidos a empresas subsidiarias o afiliadas de LOCAL POST, en el entendido de que sus datos personales en todo momento serán tratados conforme al consentimiento otorgado en el presente Aviso de Privacidad y en el entendido de que dichas subsidiarias y afiliadas operan bajo las mismas políticas de protección de datos personales que LOCAL POST y siempre sujetas a obligaciones de confidencialidad.</p>

                <p>(II) Sus datos personales podrán ser transferidos en caso de que sea necesario para el cumplimiento de la ley o por requerimiento de autoridad competente debidamente fundado y motivado, en todo momento LOCAL POST se asegurará de que la información revelada sea la estrictamente indispensable conforme a la ley o el requerimiento.</p>

                <p>(III) Sus datos personales podrán ser compartidos con el destinatario y usted declara que obtuvo los datos personales del destinatario de forma lícita.</p>
  
                <p>(IV) Para efectos de los cobros a través de nuestros sitios de internet LOCAL POST utiliza terceros proveedores de procesamiento de pagos, dichos terceros están obligados a guardar sus datos bajo la más estricta confidencialidad y a utilizarlos exclusivamente para los fines que LOCAL POST le autorice conforme al presente Aviso de Privacidad.</p>
 
                <p>Cualquier transferencia de datos adicional que LOCAL POST realice y requiera de su consentimiento se lo notificará de manera personal a efecto de que pueda consentir o negar dicho consentimiento.</p>
  
                <h5>¿Cómo puede acceder, rectificar o cancelar sus datos personales, oponerse a su uso o revocar su consentimiento? </h5>
  
                <p>Usted tiene derecho a conocer qué datos personales tenemos de usted, para qué los utilizamos y las condiciones del uso que les damos (acceso). Asimismo, es su derecho solicitar la corrección de su información personal en caso de que esté desactualizada, sea inexacta o incompleta (rectificación); que la eliminemos de nuestros registros o bases de datos (cancelación); así como oponerse al uso de sus datos personales para fines específicos (oposición).</p>

                <p>Para llevar a cabo este trámite, usted deberá presentar su solicitud via correo electrónico en <a href="mailto:contact@localpost.com.mx">contact@localpost.com.mx</a></p>
 
                <p>La solicitud deberá contener los siguientes datos: (i) nombre del titular de los datos, (ii) domicilio y dirección de correo electrónico para notificarle la respuesta a su solicitud, (iii) una descripción clara y precisa de los datos respecto de los cuales busca ejercer el derecho correspondiente, (iv) el objeto de la solicitud, (v) cualquier elemento que facilite la localización de los datos. Así mismo, deberá anexar copia de su identificación y en su caso el documento mediante el cual se acredite la representación legal. El plazo de respuesta de la solicitud será de 20 días hábiles contados a partir del día en que se recibió la solicitud.
                    La respuesta le será comunicada dentro del plazo antes mencionado a la dirección de correo electrónico que proporcionó en su solicitud o enviando carta al domicilio proporcionado en la misma. Una vez recibida dicha notificación, tendrá un plazo de 15 días hábiles para hacerla efectiva en caso de ser procedente.</p>

                <p>En cualquier momento usted podrá revocar el consentimiento otorgado para el tratamiento de sus datos personales, de tal forma que LOCAL POST deje de hacer uso de los mismos. Para ello, deberá presentar una solicitud en los términos mencionados.</p>    
 
                <h5>¿Cómo se limita el uso o divulgación de sus datos personales?</h5>    
 
                <p>Sus datos personales, serán tratados bajo la más estricta confidencialidad, cuidando las medidas de seguridad administrativas, físicas y técnicas que LOCAL POST implemente en sus políticas y procedimientos de seguridad internos, evitando la posible divulgación ilícita de datos y limitando su uso a lo establecido en el presente Aviso de Privacidad.</p>    
  
                <p>LOCAL POST se compromete a utilizar los medios razonables de protección para garantizar la seguridad de los datos personales. En el caso en que exista una vulneración que afecte la seguridad de los datos personales, LOCAL POST se compromete a notificar de manera inmediata al titular la naturaleza del incidente, los datos personales comprometidos, recomendaciones que el titular puede adoptar, acciones correctivas inmediatas y los medios para obtener más información.</p>
 
                <h5>¿Cómo puede conocer los cambios a este aviso de privacidad?</h5>

                <p>El presente aviso de privacidad puede sufrir modificaciones, cambios o actualizaciones derivadas de nuevos requerimientos legales; de nuestras propias necesidades por los productos o servicios que ofrecemos; de nuestras prácticas de privacidad; de cambios en nuestro modelo de negocio, o por reformas legislativas. 
                    Cualquier cambio al presente Aviso de Privacidad le será informado a través de los siguientes medios: (i) mediante notificación enviada al correo electrónico que nos haya proporcionado y (ii) mediante publicación en el sitio  www.localpost.com.mx 
                    Si se llegaren a modificar las finalidades para las cuales se tratan sus datos personales, en caso de ser necesario se solicitará de nuevo su consentimiento. 
                    FIN DEL AVISO.</p>
        
            </div>
        </div>    
    </div>
</section>
    


<app-footer></app-footer>