<app-navbar></app-navbar>

<section class="registro" style="background-color: #F1F3FF;">
    <div class="container">
      <div class="row">
          <div class="col-md-8 offset-md-2 faq-reg">
              <h1 class="titulo pb-4">F.A.Q.</h1>
              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                  <div class="panel panel-default">
                      <div class="panel-heading" role="tab" id="headingOne">
                          <h4 class="panel-title">
                              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                  <i class="more-less fa fa-plus"></i>
                                  ¿Qué tipo de envío escojo?
                              </a>
                          </h4>
                      </div>
                      <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                          <div class="panel-body">
                            <p>Local Post maneja tres tipos diferentes de envíos:</p>
                            <ol type="A">
                                <li><strong>El Servicio Local Regular</strong> es el envío de paquetería o flete que hacemos desde un domicilio ubicado en CDMX y Área Metropolitana a otro domicilio igualmente dentro de CDMX y Área Metropolitana. Regularmente en la página tenemos los precios de este servicio de manera estandarizada, pero en caso de que requieras otro tipo de servicio o necesidad lo podemos cotizar.</li>
                                <!--<li><strong>El Servicio Foráneo</strong>, es el envío de mercancía desde CDMX a cualquier otra parte del país, así como USA y Canadá.  Este servicio no está estandarizado, y recibes una cotización de nuestra parte el mismo día. </li>-->
                                <li><strong>El servicio Dedicado</strong>, es cuando quieres mandar un volumen considerable de mercancía (arriba de 20kgs hasta 1 tonelada) a alguna de las ciudades cercanas a CDMX como Puebla, Querétaro, Cuernavaca, Pachuca y Toluca.  Este servicio no está estandarizado, y recibes una cotización de nuestra parte el mismo día.</li>
                            </ol>  
                          </div>
                      </div>
                  </div>
          
                  <div class="panel panel-default">
                      <div class="panel-heading" role="tab" id="headingTwo">
                          <h4 class="panel-title">
                              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <i class="more-less fa fa-plus"></i>
                                ¿Como hago una cotización para envíos dedicados?
                              </a>
                          </h4>
                      </div>
                      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                          <div class="panel-body">
                            Muy fácil, nuestra plataforma te dará diferentes opciones entre las que están estos servicios. Posteriormente te haremos llegar por email y/o WhatsApp una cotización con tus requerimientos. Igualmente, esta nuestro correo contact@localpost.com.mx para lo que necesites 
                          </div>
                      </div>
                  </div>
          
                  <!--<div class="panel panel-default">
                      <div class="panel-heading" role="tab" id="headingThree">
                          <h4 class="panel-title">
                              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <i class="more-less fa fa-plus"></i>
                                ¿Tienen presencia nacional?
                              </a>
                          </h4>
                      </div>
                      <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                          <div class="panel-body">
                            Es correcto. Por medio de nuestros socios comerciales llegamos a todo el país, así como a Estados Unidos y Canadá. Con ellos tenemos convenios de tarifas preferenciales que ayudan a que el costo para ti sea menor. 
                          </div>
                      </div>
                  </div>-->
    
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFour">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                              <i class="more-less fa fa-plus"></i>
                              ¿Después de aceptar una cotización o bien pagar el servicio que procede?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                        <div class="panel-body">
                            Local Post te hará llegar una guía de envío a tu correo con los datos de recolección y entrega. 
                        </div>
                    </div>
                  </div>
    
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFive">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
                              <i class="more-less fa fa-plus"></i>
                              ¿Puedo monitorear mis envíos?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                        <div class="panel-body">
                            ¡Claro que sí! En nuestra página, con tu número de envío podrás conocer el estatus fácilmente. 
                        </div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading6">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapseThree">
                              <i class="more-less fa fa-plus"></i>
                              ¿Puedo monitorear mis envíos?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
                        <div class="panel-body">
                            ¡Claro que sí! En nuestra página, con tu número de envío podrás conocer el estatus fácilmente. 
                        </div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading7">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapseThree">
                              <i class="more-less fa fa-plus"></i>
                              ¿La rapidez del servicio varia? 
                            </a>
                        </h4>
                    </div>
                    <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7">
                        <div class="panel-body">
                            Efectivamente. Tenemos el servicio Express, que en CDMX puede recolectarse y entregarse el mismo día o máximo al día siguiente (dependiendo de la hora de recolección) y el servicio ordinario que se recolecta en un día, y se entrega entre 48 y 72 horas posteriores
                        </div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading8">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapseThree">
                              <i class="more-less fa fa-plus"></i>
                              ¿A qué hora se entregará mi envío?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading8">
                        <div class="panel-body">
                            La entrega se realizará en horario abierto de 9:00 a 18:00 hrs. 
                        </div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading9">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapseThree">
                              <i class="more-less fa fa-plus"></i>
                              ¿Por qué en la página de rastreo no hay información de mi envío?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading9">
                        <div class="panel-body">
                            Puede ser que tengas un código de rastreo erróneo.
                            Que aún no haya pasado el mensajero por el a tu domicilio o que apenas pasó por él y en unos minutos aparecerá registrado ya en el sistema. 
                        </div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading10">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapseThree">
                              <i class="more-less fa fa-plus"></i>
                              No hay nadie que reciba mi paquete, ¿lo pueden mandar a mi oficina o a otro domicilio?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading10">
                        <div class="panel-body">
                            La entrega debe realizarse en el domicilio indicado en la guía. Puede recibirla algún vecino autorizado, que sea mayor de edad con previa identificación y firma de la guía. 
                        </div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading11">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse11" aria-expanded="false" aria-controls="collapseThree">
                              <i class="more-less fa fa-plus"></i>
                              ¿Por qué mí paquete no se entregó mi envío si escribí la dirección correcta?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading11">
                        <div class="panel-body">
                            Algunas ocasiones la numeración de la calle no es consecutiva y está dispersa o no se especificó si se tiene que entregar en algún interior, piso, área o departamento, te pedimos que nos dejes alguna referencia.
                        </div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading12">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse12" aria-expanded="false" aria-controls="collapseThree">
                              <i class="more-less fa fa-plus"></i>
                              ¿Por qué motivo aparece que no vivo en el domicilio si yo estoy aquí todos los días?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading12">
                        <div class="panel-body">
                            Tal vez se duplique el número de tu domicilio en la calle, o bien el remitente no especificó que se entregara en algún interior o departamento.
                        </div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading13">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse13" aria-expanded="false" aria-controls="collapseThree">
                              <i class="more-less fa fa-plus"></i>
                              Mi paquete llegó abierto, ¿lo debo recibir?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse13" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading13">
                        <div class="panel-body">
                            Sí, es necesario que lo recibas y verifiques que su contenido esté completo; si no es así, debes mandarnos un correo a contact@localpost.com.mx para reportar esta situación.
                        </div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading14">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse14" aria-expanded="false" aria-controls="collapseThree">
                              <i class="more-less fa fa-plus"></i>
                              ¿Se pueden corregir los datos del destinatario en caso de que se hayan registrado mal?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse14" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading14">
                        <div class="panel-body">
                            No, respetando la dirección que proporcionó el remitente y por seguridad de tu envío la entrega debe realizarse en el domicilio indicado en la guía. 
                        </div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading15">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse15" aria-expanded="false" aria-controls="collapseThree">
                              <i class="more-less fa fa-plus"></i>
                              ¿Qué tipo de productos están prohibidos de enviarse?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse15" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading15">
                        <div class="panel-body">
                            <p>Dentro del país:</p>
                            <p>-Productos perecederos y de fácil descomposición, dinero, valores, vidrio en cualquiera de sus presentaciones
                                En envíos internacionales además deberás considerar los siguientes artículos:</p> 
                            <p>-Medicamentos, alimentos, suplementos alimenticios, placas de vehículos y productos con un valor igual o mayor a US $10,000.00
                                De cualquier manera, contacta a nuestro equipo mediante el correo contact@localpost.com.mx si tienes cualquier duda</p>
                        </div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading16">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse16" aria-expanded="false" aria-controls="collapseThree">
                              <i class="more-less fa fa-plus"></i>
                              ¿Como son los horarios de recolección?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse16" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading16">
                        <div class="panel-body">
                            Recolectamos mercancía durante el horario laboral (de 9am a 6pm) sin embargo, si recolectamos después de las 12 del día, es probable que tu entrega se realice al día siguiente
                        </div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading17">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse17" aria-expanded="false" aria-controls="collapseThree">
                              <i class="more-less fa fa-plus"></i>
                              ¿Pueden almacenar mi mercancía en CDMX?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse17" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading17">
                        <div class="panel-body">
                            Así es. Contamos con bodegas para almacenaje de mercancía y damos el servicio de Fulfillment, que es básicamente recoger tu mercancía, almacenarla e irla enviando a los clientes conforme lo necesites. Preparamos la mercancía dependiendo de tus necesidades y cada semana recibirás un reporte de inventario. 
                        </div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading18">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse18" aria-expanded="false" aria-controls="collapseThree">
                              <i class="more-less fa fa-plus"></i>
                              ¿Puedo contar con algún esquema de descuento?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse18" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading18">
                        <div class="panel-body">
                            Claro que sí. Dependiendo de la frecuencia con que utilices nuestro servicio, cada cuarta entrega tendrás un descuento del 10% en envíos locales y dedicados. No aplica para envíos foráneos. Igualmente, si tu volumen es considerable, puedes acudir con nosotros para revisar tu caso puntualmente. 
                        </div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading19">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse19" aria-expanded="false" aria-controls="collapseThree">
                              <i class="more-less fa fa-plus"></i>
                              ¿La mercancía va asegurada?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse19" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading19">
                        <div class="panel-body">
                            Dependiendo de tus necesidades. En el caso de que así lo requieras háznoslo saber y se te desglosara en la cotización. El costo del seguro, así como la cotización de este se te hará llegar para que tomes la mejor decisión.
                        </div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading20">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse20" aria-expanded="false" aria-controls="collapseThree">
                              <i class="more-less fa fa-plus"></i>
                              ¿En qué casos debo contratar el seguro para mi envío?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse20" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading20">
                        <div class="panel-body">
                            Cuando tu artículo tenga un valor mayor a 10 salarios mínimos.
                        </div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading21">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse21" aria-expanded="false" aria-controls="collapseThree">
                              <i class="more-less fa fa-plus"></i>
                              ¿Qué pasa si mi mercancía llega en mal estado al destinatario?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse21" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading21">
                        <div class="panel-body">
                            <p>El personal de Local Post revisara junto contigo el estado de la mercancía que envías, y en el caso de que nuestro personal cometa errores en el manejo de la mercancía, te pagaremos su valor factura.</p>

                            <p>En el caso de envíos foráneos, Local Post reportará el estado en que se envía o recoge la mercancía en CDMX y tal cual deberá llegar a su destino. Si hubiera reclamaciones para con alguna compañía transportista, Local Post tramitara la queja ante ellos.</p>
                                
                        </div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading22">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse22" aria-expanded="false" aria-controls="collapseThree">
                              <i class="more-less fa fa-plus"></i>
                              ¿Es seguro pagar en el sitio web?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse22" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading22">
                        <div class="panel-body">
                            Completamente. Local Post maneja pagos por medio de PayPal, plataforma 100% segura que acepta todas las tarjetas de crédito, así como transferencias bancarias. Con esto, te aseguramos que nuestro sitio es completamente confiable. No manejamos cobros en destino, y nuestros operadores no manejan efectivo.
                        </div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading23">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse23" aria-expanded="false" aria-controls="collapseThree">
                              <i class="more-less fa fa-plus"></i>
                              ¿Si tengo dudas como los contacto?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse23" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading23">
                        <div class="panel-body">
                            A través de nuestro correo electrónico contact@localpost.com.mx estamos para atenderte. Nuestro horario de atención es de Lunes a Viernes de 9am a 6pm y Sábados de 9 am a 3pm
                        </div>
                    </div>
                  </div>
          
                </div><!-- panel-group -->
          </div>
      </div>
    </div>
  </section>


<app-footer></app-footer>  