<app-navbaradmin></app-navbaradmin>

<section class="mis-envios">
    <div class="container py-5">
        <header class="text-left">
            <h3 class="pb-3">Mis envios</h3>
        </header>
        <div class="row pb-5">
          <div class="col-lg-12 mx-auto">
            <div class="card rounded shadow border-0">
              <div class="card-body p-0 bg-white rounded">
                <!--<div class="table-responsive-lg">-->
                  <table style="width:100%" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-fixed mb-0">
                    <thead>
                      <tr>
                        <th>N° Guía</th>
                        <th>Envío</th>
                        <th>Destino</th>
                        <th>Monto</th>
                        <th>Estatus</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let envio of envios">
                        <td>{{ envio.folio }}</td>
                        <td>{{ envio.tipoEnvio }}</td>
                        <td>{{ envio.direccion_destino }}</td>
                        <td>$ {{ envio.monto | number : '1.2-2' }}</td>
                        <td><!--{{ envio.estatus }}-->
                            <div *ngIf="mostrarBoton(envio.estatus)">
                              Guía Generada
                              <button (click)="generatePDF(envio.folio, envio.tracked, envio.remitente, envio.direccion_origen, envio.destinatario, envio.direccion_destino,envio.telefono_remitente, envio.peso)" class="subscribe btn btn-primary rounded-pill shadow-sm">
                                <i class="fa fa-arrow-down"></i> Guía  
                              </button>
                            </div>
                        </td>
                        <!--<div *ngIf="mostrarBoton(envio.estatus); else elseBlock">             
                          <td>{{ envio.estatus }} 
                            <button (click)="generatePDF(envio.folio, envio.tracked, envio.remitente, envio.direccion_origen, envio.destinatario, envio.direccion_destino,envio.telefono_remitente, envio.peso)" class="subscribe btn btn-primary rounded-pill shadow-sm">
                            <i class="fa fa-arrow-down"></i> Guía  
                            </button>
                          </td>
                        </div>
                        <ng-template #elseBlock>
                          <td>{{ envio.estatus }}</td>
                        </ng-template>-->
                      </tr>
                    </tbody>
                  </table>
                <!--</div>-->
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 d-flex justify-content-end">
            <p><a href="/rastreo" target="_blank">Rastrear envio  ></a></p>
          </div>
          <div class="col-lg-12 d-flex justify-content-end">
            
          </div>
        </div>
    </div>
</section>

<app-footer></app-footer>
