<app-navbaradmin></app-navbaradmin>

<section class="registro">
    <div class="container py-5">
        <header class="text-left">
            <h3>Mis Datos</h3>
        </header>
      <div class="row">
        <div class="col-md-7 col-xs-12">
          <div class="form-registry">
            <h4 class="pb-2">Actualiza tu perfil</h4>
            <form [formGroup] = "editarForm" (ngSubmit)="onUpdate(editarForm.value)" class="send-form">
              <div class="form-row">
                  <div class="form-group col-md-6">
                    <label>Nombre</label>
                    <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre">
                  </div>
                  <div class="form-group col-md-6">
                    <label>Apellidos</label>
                    <input type="text" class="form-control" formControlName="apellidos" placeholder="Apellido">
                  </div>
              </div>

              <div class="form-row">
                  <div class="form-group col-md-6">
                    <label>Teléfono</label>
                    <input type="text" class="form-control" formControlName="telefono" placeholder="Teléfono">
                  </div>
                  <div class="form-group col-md-6">
                    <label>Email</label>
                    <input type="email" class="form-control" formControlName="email" placeholder="Email">
                  </div>
              </div>

              <!--<div class="form-row">
                  <div class="form-group col-md-6">
                      <label>Nombre de la empresa</label>
                      <input type="text" class="form-control" formControlName="empresa" placeholder="Nombre de la empresa">
                  </div>
                  <div class="form-group col-md-6">
                      <label>Puesto</label>
                      <input type="text" class="form-control" formControlName="cargo" placeholder="Puesto">
                  </div>
              </div>-->

              <div class="form-group">
                <label>Nombre de la empresa</label>
                <input type="text" class="form-control" formControlName="empresa" placeholder="Nombre de la empresa">
              </div>

              <div class="form-row">
                  <div class="form-group col-md-6">
                    <label>Puesto</label>
                    <input type="text" class="form-control" formControlName="cargo" placeholder="Puesto">
                  </div>
                  <div class="form-group col-md-6">
                      <label>RFC</label>
                      <input type="text" class="form-control"  placeholder="RFC">
                  </div>
              </div>

              <div class="form-group">
                  <label>Giro de la empresa</label>
                  <select formControlName="giro_empresa" class="form-control">
                      <!--<option value="{{ datosUsuario.giro_empresa }}" selected>{{ datosUsuario.giro_empresa }}</option>-->
                      <option value="Agricola y Ganadera">Agricola y Ganadera</option>
                      <option value="Alimentos y Bebidas">Alimentos y Bebidas</option>
                      <option value="Comercio">Comercio</option>
                      <option value="Construccion e Inmobiliario"> Construcción e Inmobiliario</option>
                      <option value="Consumo">Consumo</option>
                      <option value="Educacion">Educación</option>
                      <option value="Energia">Energia</option>
                      <option value="Medios de Comunicacion">Medios de Comunicación</option>
                      <option value="Mineria">Minería</option>
                      <option value="Productos de Limpieza">Productos de Limipieza</option>
                      <option value="Sector Automotriz">Sector Automotriz</option>
                      <option value="Sector Financiero">Sector Financiero</option>
                      <option value="Sector Salud y Quimicos">Sector Salud y Químicos</option>
                      <option value="Servicio de mensajeria">Servicio de mensajeria</option>
                      <option value="Servicios Profecionales">Servicios Profesionales</option>
                      <option value="Tecnologia">Tecnología</option>
                      <option value="Transporte">Transporte</option>
                      <option value="Turismo">Turismo</option>
                  </select>
              </div>

              <div class="form-row">
                <div class="form-group col-md-6">
                  <input type="hidden" formControlName="token">
                </div>
                <div class="form-group col-md-6">
                  <input type="hidden" formControlName="id">
                </div>
              </div>

              <button type="submit" class="btn btn-primary mb-2 rounded-pill shadow-sm"><i class="fa fa-refresh mr-1"></i> Actualizar</button>
              <div class="alert  text-center mt-3" role="alert" id="alert">
                <div id="res"></div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-5 col-xs-12 faq-reg">
          
        </div>
      </div>
    </div>
</section>

<app-footer></app-footer>