/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@font-face {
  font-family: 'Gilroy Black';
  src: url("/assets/font/Gilroy-Bold.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy Regular';
  src: url("/assets/font/Gilroy-Medium.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4 {
  font-family: "Gilroy Black", sans-serif !important;
}

h5, h6, p {
  font-family: "Gilroy Regular", sans-serif !important;
}

section {
  padding: 6.5em 0;
}

.menu1 .nav-link {
  font-family: "Gilroy Regular", sans-serif;
  font-size: .9em;
}

.menu1 .top-button {
  font-family: "Gilroy Regular", sans-serif;
}

.menu2 .nav-link {
  font-family: "Gilroy Regular", sans-serif;
  color: #1C1E5E !important;
  font-weight: 600;
  font-size: .9em;
}

.menu2 .top-button {
  font-family: "Gilroy Regular", sans-serif;
  color: #1C1E5E;
  font-weight: 600;
}

.menu2 i {
  color: #1C1E5E;
}

a.main-button {
  font-size: 14px;
  border-radius: 25px;
  padding: 15px 25px;
  border: solid 1px #fff;
  text-decoration: none;
  background-color: transparent;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

a.main-button:hover {
  background-color: #009EFB;
  border: solid 2px #009EFB;
  color: #FAFAFA;
}

a.top-button {
  color: #fff;
  text-decoration: none;
}

/*.navbar {
    position: absolute;
    z-index: 10;
    width: 100%;
}*/
.logo-image {
  width: 145px;
  margin-top: 0px;
}

.hero {
  height: 85vh;
  min-height: 500px;
  background-image: url("/assets/img/hero_bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.hero h2 {
  font-size: 4.8em;
  line-height: 1.2em;
}

.hero .home-lead {
  font-size: 1.25rem;
  font-weight: 300;
}

.card {
  border: 1px solid rgba(0, 0, 0, 0);
}

.ventajas {
  padding: 0 0 1.5em 0;
  margin-top: -4em;
}

.ventajas h1, .ventajas h2 {
  color: #1C1E5E;
}

.ventajas .container {
  padding: 2.3em 0;
}

.ventajas img {
  width: 64px;
  height: auto;
}

.ventajas .img-feat {
  background-color: #e5f5fe;
  border-radius: 5px;
  padding: .4em;
}

.showcase .showcase-text {
  padding: 3rem;
}

.showcase .showcase-img {
  min-height: 40rem;
  background-size: cover;
}

.showcase h1, .showcase h2 {
  color: #1C1E5E;
}

.features {
  background-color: #009EFB;
}

.features h2 {
  color: #fff;
  font-size: 2.5rem;
}

.features h3, .features h4, .features p {
  color: #fff;
}

.features .feat-cont {
  padding: 0 5.5em 0 2em;
}

.reviews h2 {
  color: #1C1E5E;
  font-size: 2.5rem;
}

.reviews .card-title {
  color: #1C1E5E;
  font-size: 1.1em;
  margin-bottom: .35em;
}

.reviews .text-cargo {
  color: #787878;
  font-size: .8em;
}

.reviews .card-text {
  color: #1C1E5E;
  font-size: 1em;
}

.reviews .carousel-inner {
  padding: 2em 0;
}

.reviews .carousel-indicators {
  height: 1em;
}

.reviews .carousel-indicators li {
  width: .8em;
  height: .8em;
  border: none;
  background: #ccc;
  border-radius: 50%;
  margin-top: 1em;
}

.reviews .carousel-indicators li.active {
  background: #009EFB;
}

.cta {
  background-image: url("/assets/img/bg-form.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cta h2 {
  font-size: 3em;
  line-height: 1.5em;
}

.cta .btn-primary {
  color: #fff;
  background-color: #009EFB;
  border-color: #009EFB;
  font-family: "Gilroy Regular", sans-serif;
  padding: .7em 2.4em;
  font-size: .9em;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.cta .btn-primary:hover {
  background-color: #007ec8;
  border-color: #007ec8;
}

.contact ul.list-social {
  padding-top: 1em;
}

.contact ul.list-social li a {
  font-size: 20px;
  text-align: center;
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
  color: white;
  border-radius: 100%;
}

.contact ul.list-social li.social-linkedin a {
  background-color: #0077B5;
}

.contact ul.list-social li.social-linkedin a:hover {
  background-color: #005f90;
}

.contact ul.list-social li.social-facebook a {
  background-color: #3b5998;
}

.contact ul.list-social li.social-facebook a:hover {
  background-color: #344e86;
}

.contact ul.list-social li.social-instagram a {
  background-color: #E1306C;
}

.contact ul.list-social li.social-instagram a:hover {
  background-color: #b42656;
}

footer {
  padding: 4.5em 0;
}

footer p {
  color: #787878;
  font-size: .8em;
  font-weight: 500;
  padding-right: 2.5em;
}

footer .menu-footer {
  font-family: "Gilroy Regular", sans-serif;
  font-weight: 600;
  font-size: .9em;
}

footer .menu-footer a {
  color: #1C1E5E;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

footer .menu-footer a:hover {
  color: #009EFB;
}

.login,
.image {
  min-height: 100vh;
}

.login h3 {
  color: #1C1E5E;
}

.login .btn-primary {
  color: #fff;
  background-color: #009EFB;
  border-color: #009EFB;
  font-family: "Gilroy Regular", sans-serif;
}

.bg-image {
  /*background-image: url("https://res.cloudinary.com/mhmd/image/upload/v1555917661/art-colorful-contemporary-2047905_dxtao7.jpg");*/
  background-image: url('/assets/img/login_img.jpg');
  background-size: cover;
  background-position: center center;
}

.registro {
  padding: 0px 0px;
}

.registro h2, .registro h3, .registro h4 {
  color: #1C1E5E;
}

.registro a {
  color: #1C1E5E;
}

.registro .form-registry .form-control {
  border-width: 0 0 2px 0;
  border-radius: 0;
  border-color: #1C1E5E;
  margin-bottom: 2em;
}

.registro .form-registry .btn-primary {
  color: #fff;
  background-color: #009EFB;
  border-color: #009EFB;
  font-family: "Gilroy Regular", sans-serif;
  padding: .7em 2.4em;
  font-size: .9em;
  margin-top: 1.8em;
}

.registro .faq-reg {
  background-color: #F1F3FF;
  padding: 3em 2em 2em 2em;
}

.registro .faq-reg .panel-group .panel {
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #EEEEEE;
}

.registro .faq-reg .panel-default > .panel-heading {
  padding: 0;
  border-radius: 0;
  color: #212121;
  background-color: transparent;
  border-color: #EEEEEE;
  border-bottom: solid 2px #e5e5e5;
}

.registro .faq-reg .panel-default > .panel-heading + .panel-collapse > .panel-body {
  padding: .7em 1.2em;
}

.registro .faq-reg .panel-title {
  font-size: 14px;
}

.registro .faq-reg .panel-title > a {
  display: block;
  padding: 15px;
  text-decoration: none;
}

.registro .faq-reg .more-less {
  float: right;
  color: #212121;
}

.registro .faq-reg .panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #EEEEEE;
}

/** Pagina Rastreo **/
.rastreo h2{
  color: #1C1E5E;
  font-size: 2.5em;
}

.rastreo h4{
  color: #1C1E5E;
}

.rastreo h5{
  color: #1C1E5E;
  font-weight: 600;
}

.dash-main {
  padding: 2.7em 0;
  background-color: #F1F3FF;
}

.dash-main h3 {
  color: #1C1E5E;
  font-size: 2em;
}

.dash-main h4 {
  color: #009EFB;
  margin-bottom: .2em;
}

.dash-main p {
  color: #787878;
  font-size: .8em;
}

.mis-envios {
  padding: 0;
}

.mis-envios h3 {
  color: #1C1E5E;
  font-size: 2em;
}

.mis-envios thead {
  background-color: #009EFB;
  color: #fff;
}

.mis-envios th {
  font-family: "Gilroy Regular", sans-serif!important;
  padding: 1.2em;
}

.mis-envios .table td{
  font-family: "Gilroy Regular", sans-serif!important;
  color: #1C1E5E;
  font-weight: 600;
}

.mis-envios a{
  font-family: "Gilroy Regular", sans-serif;
  color: #009EFB;
  font-weight: 600;
  text-decoration: none!important;
  padding: 2px;
}

.nuevo-envio {
  padding: 2.7em 0;
}


.nuevo-envio h3 {
  color: #1C1E5E;
  font-size: 2em;
}

.nuevo-envio .send-form {
  background-color: #F1F3FF;
  padding: 3.3em 2.8em;
}

.nuevo-envio .send-form p {
  font-family: "Gilroy Regular", sans-serif;
}

.nuevo-envio .send-form h5 {
  color: #1C1E5E;
  font-family: "Gilroy Regular", sans-serif;
  font-weight: 600;
}

.nuevo-envio .send-form h6 {
  color: #1C1E5E;
  font-family: "Gilroy Regular", sans-serif;
  font-weight: 600;
}

.nuevo-envio .send-form label {
  color: #1C1E5E;
  font-family: "Gilroy Regular", sans-serif;
  font-weight: 600;
}

.nuevo-envio .send-form .btn-primary {
  color: #fff;
  background-color: #009EFB;
  border-color: #009EFB;
  font-family: "Gilroy Regular", sans-serif;
  padding: .7em 2.4em;
  font-size: .9em;
  margin-top: 1.8em;
}

.nuevo-envio .send-form .btn-secondary {
    color:#fff;
    background-color:#1C1E5E;
    border-color: #1C1E5E;
    font-family: "Gilroy Regular", sans-serif;
    padding: .7em 2.4em;
    font-size: .9em;
    margin-top: 1.8em;
}

.form-registry{
  padding: .7em 0;
}

.form-registry h3 {
  color: #1C1E5E;
  font-size: 2em;
}

.form-registry h4 {
  color: #1C1E5E;
}

.form-registry .send-form label {
  color: #1C1E5E;
  font-family: "Gilroy Regular", sans-serif;
  font-weight: 600;
}

.float_buttons_div {
  position: fixed;
  bottom: 15px;
  left: -25px;
}

.float_buttons_div li {
  list-style: none;
  margin: 15px 0px;
}

.float_buttons_div li a i {
  text-decoration: none;
  padding: 0.9em;
  color: #fff;
  font-size: 18px;
  border-radius: 50px;
  font-weight: bold;
  transition: all 0.4s;
}

.float_buttons_div .phone-icon {
  background-color: #092F57;
  border: 1px solid #092F57;
  -webkit-box-shadow: 0px 2px 4px 4px #ccd9e2;
          box-shadow: 0px 2px 4px 4px #ccd9e2;
}

.float_buttons_div .btn-icon {
  background-color: #092F57;
  border: 1px solid #092F57;
  -webkit-box-shadow: 0px 2px 4px 4px #ccd9e2;
          box-shadow: 0px 2px 4px 4px #ccd9e2;
  border-radius: 25px;
  padding: .3em 1em;
  color: #FAFAFA;
  font-family: "Gilroy Regular", sans-serif;
  font-weight: 500;
}

.float_buttons_div .fa-lg {
  line-height: .95em;
  vertical-align: -15%;
}

/** Datatables **/
div.dataTables_wrapper div.dataTables_length label {
  font-family: "Gilroy Regular", sans-serif;
  font-weight: 600!important;
  padding: 5px;
}

div.dataTables_wrapper div.dataTables_info {
  padding-top: .85em;
  font-family: "Gilroy Regular", sans-serif;
  font-weight: 600!important;
  padding-left: 5px;
}