<app-navbar></app-navbar>

<section class="registro">
    <div class="container p-0">
      <div class="row">
        <div class="col-md-7 col-xs-12 pt-4 px-5">
          <h2>Déjanos atenderte mejor</h2>
          <div class="form-registry">
            <h4 class="py-2">Llena los siguientes campos</h4>
            <p class="py-2">Cuentanos un poco más de ti</p>
            <form [formGroup]="registerForm" (ngSubmit)="onRegister(registerForm.value)">
              <div class="form-row">
                  <div class="form-group col-md-6">
                    <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre">
                  </div>
                  <div class="form-group col-md-6">
                    <input type="text" class="form-control" formControlName="apellidos" placeholder="Apellido">
                  </div>
              </div>

              <div class="form-row">
                  <div class="form-group col-md-6">
                    <input type="text" class="form-control" formControlName="telefono" placeholder="Teléfono">
                  </div>
                  <div class="form-group col-md-6">
                    <input type="email" class="form-control" formControlName="email" placeholder="Email">
                  </div>
              </div>

              <div class="form-group">
                <input type="text" class="form-control" formControlName="empresa" placeholder="Nombre de la empresa">
              </div>

              <div class="form-row">
                  <div class="form-group col-md-6">
                    <input type="text" class="form-control" formControlName="cargo" placeholder="Puesto">
                  </div>
                  <div class="form-group col-md-6">
                      <input type="text" class="form-control" formControlName="rfc" placeholder="RFC">
                  </div>
              </div>

              <div class="form-group">
                  <select formControlName="giro_empresa" class="form-control">
                      <option value="" selected>-- Giro de la empresa --</option>
                      <option value="Agricola y Ganadera">Agricola y Ganadera</option>
                      <option value="Alimentos y Bebidas">Alimentos y Bebidas</option>
                      <option value="Comercio">Comercio</option>
                      <option value="Construccion e Inmobiliario"> Construcción e Inmobiliario</option>
                      <option value="Consumo">Consumo</option>
                      <option value="Educacion">Educación</option>
                      <option value="Energia">Energia</option>
                      <option value="Medios de Comunicacion">Medios de Comunicación</option>
                      <option value="Mineria">Minería</option>
                      <option value="Productos de Limpieza">Productos de Limipieza</option>
                      <option value="Sector Automotriz">Sector Automotriz</option>
                      <option value="Sector Financiero">Sector Financiero</option>
                      <option value="Sector Salud y Quimicos">Sector Salud y Químicos</option>
                      <option value="Servicio de mensajeria">Servicio de mensajeria</option>
                      <option value="Servicios Profecionales">Servicios Profesionales</option>
                      <option value="Tecnologia">Tecnología</option>
                      <option value="Transporte">Transporte</option>
                      <option value="Turismo">Turismo</option>
                  </select>
                </div>

              <div class="form-row">
                  <div class="form-group col-md-6">
                      <input type="password" class="form-control" formControlName="password" placeholder="Elige una contraseña">
                  </div>
                  <!--<div class="form-group col-md-6">
                      <input type="password" class="form-control" id="InputPasswordConfirm" placeholder="Confirma tu contraseña">
                  </div>-->
              </div>
              <button type="submit" class="btn btn-primary mb-2 rounded-pill shadow-sm">Continuar</button>

            </form>
          </div>
        </div>
        <div class="col-md-5 col-xs-12 faq-reg">
          <h3>F.A.Q.</h3>
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <i class="more-less fa fa-plus"></i>
                            ¿Como hago una cotización para envíos foráneos o dedicados?
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    Muy fácil, nuestra plataforma te dará diferentes opciones entre las que están estos servicios. Posteriormente te haremos llegar por email y/o WhatsApp una cotización con tus requerimientos. Igualmente, esta nuestro correo contact@localpost.com.mx para lo que necesites 
                  </div>
                </div>
            </div>
    
            <!--<div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          <i class="more-less fa fa-plus"></i>
                            ¿Tienen presencia nacional?
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                  <div class="panel-body">
                    Es correcto. Por medio de nuestros socios comerciales llegamos a todo el país, así como a Estados Unidos y Canadá. Con ellos tenemos convenios de tarifas preferenciales que ayudan a que el costo para ti sea menor. 
                  </div>
                </div>
            </div>-->
    
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          <i class="more-less fa fa-plus"></i>
                          ¿Después de aceptar una cotización o bien pagar el servicio que procede?
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                  <div class="panel-body">
                    Local Post te hará llegar una guía de envío a tu correo con los datos de recolección y entrega. 
                  </div>
                </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingFour">
                  <h4 class="panel-title">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                        <i class="more-less fa fa-plus"></i>
                          ¿Puedo monitorear mis envíos?
                      </a>
                  </h4>
              </div>
              <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                <div class="panel-body">
                  ¡Claro que sí! En nuestra página, con tu número de envío podrás conocer el estatus fácilmente. 
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingFive">
                  <h4 class="panel-title">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
                        <i class="more-less fa fa-plus"></i>
                          ¿Qué tipo de envío escojo?
                      </a>
                  </h4>
              </div>
              <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                <div class="panel-body">
                  <p>Local Post maneja tres tipos diferentes de envíos:</p>
                  <ol type="A">
                      <li><strong>El Servicio Local Regular</strong> es el envío de paquetería o flete que hacemos desde un domicilio ubicado en CDMX y Área Metropolitana a otro domicilio igualmente dentro de CDMX y Área Metropolitana. Regularmente en la página tenemos los precios de este servicio de manera estandarizada, pero en caso de que requieras otro tipo de servicio o necesidad lo podemos cotizar.</li>
                      <!--<li><strong>El Servicio Foráneo</strong>, es el envío de mercancía desde CDMX a cualquier otra parte del país, así como USA y Canadá.  Este servicio no está estandarizado, y recibes una cotización de nuestra parte el mismo día. </li>-->
                      <li><strong>El servicio Dedicado</strong>, es cuando quieres mandar un volumen considerable de mercancía (arriba de 20kgs hasta 1 tonelada) a alguna de las ciudades cercanas a CDMX como Puebla, Querétaro, Cuernavaca, Pachuca y Toluca.  Este servicio no está estandarizado, y recibes una cotización de nuestra parte el mismo día.</li>
                  </ol>  
                </div>
              </div>
            </div>
    
          </div><!-- panel-group -->
        </div>
      </div>
    </div>
</section>

<app-footer></app-footer>